.logoCircle {
    background-image: url("../../../../sb-template/img/TLJ.png");
    background-size: cover;
    height: 70px;
    width: 70px;
    border-radius: 50%;

    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.profile-picture {
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
}

.profile-picture img {
    border-radius: 50%;
    max-width: 20%;
    height: auto;
}

.profile-picture img:hover {
    filter: brightness(80%);
    cursor: pointer;
}
